main {
	display: flex;
	flex-direction: column;
}

main ul {
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

main ul li {
	flex: 1 0 30%;
	margin: 10px;
}

main article,
main article:first-child {
	position: relative;
	margin-top: 3rem;
}

main .graphic-container {
	position: absolute;
	left: auto;
	top: -2rem;
	width: calc(100% - 2rem);
}

@media (min-width: 600px) {
	main {
		flex-direction: row;
		flex-wrap: wrap;
	}
	main article {
		width: calc(50% - 3rem);
	}
	main article:nth-child(even) {
		margin-left: 2rem;
	}
	main article a img {
		max-height: 286px;
		object-fit: cover;
		width: 100%;
		object-position: top;
	}
}