@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(../fonts/open-sans-500.woff2) format('woff2');
}

* {
	font-family: "Open Sans", "Liberation Sans", sans-serif;
	outline: none;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word;
	-webkit-appearance: none;
}

::-moz-selection {
	background: #28344d;
	color: #fff;
}

h3 {
	line-height: 1rem;
	margin-top: 1.7rem;
}

img {
	border: 0;
	max-width: 100%;
}

a {
	text-decoration: none;
	color: #205081;
}

a:hover {
	text-decoration: underline;
}

a[target="_blank"] {
	padding-right: 14px;
	background: url("../resources/extern.png") no-repeat scroll 100% 60%
		transparent;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    padding: .5rem 1rem;
    border-radius: 2px;
	display: block;
	width: 100%;
	box-sizing: border-box;
}

a.button.primary {
	background-color: #28344d;
	color: #fff;
}

body {
	overflow-y: scroll;
	background: #eee;
	color: #333;
}

article, blockquote {
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
	background: #fff;
	padding: 1rem;
	margin: 1rem;
}

main article {
	margin-top: 1rem;
}

article::after {
	content: "";
	display: block;
	clear: both;
}

blockquote {
	margin: auto;
	padding: 1rem;
	overflow: hidden;
	font-size: small;
}

blockquote:before {
	content: open-quote;
}

blockquote:after {
	content: close-quote;
}

blockquote p {
	display: inline;
}

cite {
	font-style: italic;
	float: right;
}

cite::before {
	content: "\a— ";
	white-space: pre;
}

#wrapper::after {
	content: "";
	display: block;
	clear: both;
}

.notification-bar {
	margin: 0;
	padding: 0;
	list-style: none;
}

.notification-bar li {
	border-bottom: 1px solid #221;
	padding: .5rem;
	background: #ff9;
}

.notification-bar li a {
	text-decoration: underline;
}

.header-menu {
	position: relative;
}

.header-menu::after {
	content: "";
	display: block;
	clear: both;
}

.header-menu ul {
	background: #007676;
	padding: 0;
	margin: 0;
}

.header-menu ul li {
	list-style: none;
	display: inline-block;
}

.header-menu ul li:first-child {
	margin-left: 1rem;
}

.header-menu ul li a {
	padding: 10px 5px;
	display: block;
	color: #ddd;
	font-variant: small-caps;
	font-weight: bold;
	font-size: small;
}

.header-menu ul li a:hover {
	color: #fff;
	text-decoration: none;
}

.header-menu ul li.current_page_item a, ul.header-menu li.current-menu-item a {
	color: #fff;
}

.header-menu a.facebook {
	position: absolute;
	right: 1rem;
	top: .3rem;
	opacity: .4;
	padding-right: 0;
	background: none;
	display: none;
}

.header-menu a.facebook:hover {
	opacity: .7;
}

.outer-header-container {
	background: #fff;
}

#content, .header-menu, .page-header {
	width: 100%;
	max-width: 980px;
	margin: auto;
}

.page-header {
	width: 100%;
}

.page-header img {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	padding: 1rem 0;
}

.page-header h1 {
	margin: 0;
	font-size: large;
	margin: 10px;
}

.page-description {
	display: inline-block;
	float: left;
}

.page-nav {
	clear: both;
	background: #fff;
	box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.25);
	top: 0;
	-webkit-position: sticky;
	position: sticky;
	z-index: 1;
}
.page-title {
	display: inline-block;
}

main, aside {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	line-height: 1.7;
}

main, aside {
	width: 100%;
}

aside > ul {
	margin: 1rem;
	padding: 0;
	list-style: none;
}

aside h2 {
	font-size: medium;
	text-align: center;
}

footer.page-footer {
	clear: both;
	text-align: center;
	padding: .5rem;
}

footer.page-footer p {
	color: #666;
}

footer.page-footer p.cr {
	font-family: serif;
	font-style: italic;
	color: #ccc;
	text-shadow: 0 -1px 1px #fff, 0 1px 1px #666;
	font-size: x-large;
}

main p {
	text-align: justify;
}

figure {
	position: relative;
	margin: .5rem;
	background: #eee;
}

figure img {
	box-sizing: border-box;
	display: block;
}

figure figcaption {
	background: rgba(0, 0, 0, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	color: #fff;
	margin: .5rem 0 0;
	padding: 1rem;
	width: 100%;
	box-sizing: border-box;
}

figure figcaption strong {
	display: block;
}

#html5 {
	width: 10rem;
	height: 10rem;
	opacity: .5;
	transition: opacity 2s ease;
}

footer:hover #html5 {
	opacity: .9;
}

.graphic-container {
	text-align: center;
}

.graphic-container figure {
	content: "";
	display: block;
	margin: auto 7%;
	background-color: #008a8a;
	background-image: linear-gradient(#007676 0%, #007676 50%, #008a8a 50%, #008a8a 100%);
	background-position: center center;
	border-radius: 50%;
	background-size: 70%;
	height: 4rem;
	width: 4rem;
	display: inline-block;
	box-shadow: 3px 3px 3px #666;
}

.graphic-container figure img {
	border: 0;
	top: 15%;
	width: 70%;
	position: relative;
	border: 0;
	margin: auto;
}

@media ( min-width : 360px) {
	.header-menu a.facebook {
		display: block;
	}
}

@media ( min-width : 480px) {
	a.button {
		display: inline;
	}
	.header-menu ul li a {
		padding: .5rem;
		font-size: medium;
	}
}

@media ( min-width : 640px) {
	main.sidebar {
		width: 60%;
		float: left;
	}
	.page-header img {
		width: 60%;
	}
	aside {
		width: 40%;
		float: right;
	}
	aside > ul {
		margin-left: 0;
	}
	.header-menu ul li a {
		padding: .5rem 1rem;
	}
	.header-menu ul li:first-child {
		margin-left: inherit;
	}
	figure figcaption {
		position: absolute;
		bottom: 0;
	}
	article {
		margin-top: 1rem;
	}
}

@media ( min-width : 800px) {
	main.sidebar {
		width: 70%;
	}
	.page-header img {
		width: 50%;
	}
	aside {
		width: 30%;
	}
}

@media ( min-width : 980px) {
	main {
		padding: 1rem 0;
	}
	main article {
		margin: 1rem 0 0 0;
	}
	main article:first-child,
	main article:only-of-type {
		margin: 0;
	}
	aside {
		padding-left: 1rem;
	}
	aside > ul {
		margin-right: 0;
	}
	.header-menu ul {
		border-top-left-radius: 1px;
		border-top-right-radius: 1px;
	}
}
