html {
	--background-color: #f5f5f5;
	--background-color-accent: #205081;
	--background-color-emphasized: white;
	--background-color-tag: var(--background-color);
	--background-color-selection: #007676;
	--color-selection: white;
	--color: #333;
	--color-accent: white;
	--border-color: #ccc;
	--icon-black: 40%;
	--box-shadow-cards: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
	--color-scrollbar-thumb: var(--border-color);

	--max-width-container: 1440px;
	--border-radius: .125rem;

	scrollbar-width: thin;
	scrollbar-color: var(--color-scrollbar-thumb) var(--background-color);
}

@media (prefers-color-scheme: dark) {
	html {
		--background-color: #111;
		--background-color-accent: #00b4b4;
		--background-color-emphasized: #202020;
		--background-color-tag: #333;
		--color: #eee;
		--color-accent: #205081;
		--border-color: var(--background-color-emphasized);
		--icon-black: 60%;
		--box-shadow-cards: none;
		--color-scrollbar-thumb: #2f2f2f;
	}
}

body {
	margin: 0;
	font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
	word-wrap: break-word;
	-ms-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	line-height: 1.75;
	background: var(--background-color);
	color: var(--color);
}

@media (prefers-reduced-motion: reduce) {
	* {
		transition: none !important;
	}
}

::selection {
	background: var(--background-color-selection);
	color: var(--color-selection);
}

a {
	text-decoration: none;
	color: var(--background-color-accent);
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3 {
	font-weight: normal;
}

h2 {
	text-align: center;
	font-size: xx-large;
	margin-bottom: 2rem;
}

h3 {
	margin-top: 0;
}

dd {
	margin: 0;
}

dt::after {
	content: ":";
}

blockquote {
	padding-left: 1.5rem;
	border-left: 5px solid var(--background-color-selection);
	border-radius: var(--border-radius);
	background: var(--background-color-emphasized);
	padding: 1rem;
	margin: 0;
}

blockquote::after {
	content: "";
	display: block;
	clear: both;
}

cite {
	font-size: medium;
	float: right;
}

cite::before {
    content: "\a— ";
    white-space: pre;
}

ul {
	padding-left: 1rem;
}

section {
	--section-padding: 2rem;
	padding: var(--section-padding);
}

img {
	display: flex;
    justify-content: center;
    align-items: center;
}

ul.tags {
	display: inline-flex;
	gap: .5rem;
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.tags > li {
	font-size: smaller;
	background-color: var(--background-color-tag);
	padding: .2rem .5rem;
	border-radius: var(--border-radius);
}

/**********************************************************************************/
/* Header                                                                         */
/**********************************************************************************/

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 4rem;
	box-sizing: border-box;
	background-color: var(--background-color-emphasized);
	box-shadow: var(--box-shadow-cards);
}

header h1 {
	margin-bottom: 7rem;
	text-align: center;
	flex: 1 1 auto;
}

header img {
	/* See source code of the SVG graphic */
	--aspect-ratio: calc(100 / 190);
	--target-image-width: 29rem;
	--max-image-width: 100vw;

	width: var(--target-image-width);
	height: calc(var(--target-image-width) * var(--aspect-ratio));
	max-width: var(--max-image-width);
	max-height: calc(var(--max-image-width) * var(--aspect-ratio));
	margin: 10vh auto 0 auto;
	display: block;
}

header a {
	padding: 1rem .5rem;
	font-size: large;
	border-radius: var(--border-radius);
	transition: background-color .3s ease;
}

header a:active {
	background: var(--background-color-emphasized);
}

/**********************************************************************************/
/* Know-How                                                                       */
/**********************************************************************************/

section.know-how {
	padding-left: 0;
	padding-right: 0;
}

section.know-how h2 {
	margin-bottom: 0;
}

section.know-how div {
	display: flex;
	column-gap: 2rem;
	overflow: auto;
	scroll-snap-type: x mandatory;
	scrollbar-width: none;
	padding: var(--section-padding);
}

section.know-how article {
	--padding-horizontal: 1.5rem;

    scroll-snap-align: center;
	flex: 0 0 min(30rem, calc(100% - 5rem));
	display: flex;
	flex-direction: column;
	background-color: var(--background-color-emphasized);
	box-shadow: var(--box-shadow-cards);
	padding: var(--padding-horizontal) var(--padding-horizontal);
	overflow: hidden;
	border-radius: var(--border-radius);
}

@media (prefers-color-scheme: dark) {
	section.know-how article {
		background-color: var(--background-color-emphasized);
	}
}

section.know-how h3 {
	text-align: center;
}

section.know-how img {
	filter: invert(var(--icon-black));
	width: 4rem;
	height: 4rem;
	display: block;
	margin: 0 auto 1rem auto;
}

@media (min-width: 1440px) {
	section.know-how div {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		max-width: var(--max-width-container);
		margin: auto;
	}

	section.know-how article {
		flex: 0 0 calc(100% / 3 - 4.5rem);
	}
}

/**********************************************************************************/
/* Kundenmeinungen                                                                */
/**********************************************************************************/

section.kundenmeinungen {
	max-width: calc(var(--max-width-container) / 2);
	max-width: var(--max-width-container);
	margin-left: auto;
	margin-right: auto;
}

/**********************************************************************************/
/* Referenzen                                                                     */
/**********************************************************************************/

section.referenzen {
	padding-left: 0;
	padding-right: 0;
}

section.referenzen h2 {
	margin-bottom: 0;
}

section.referenzen div {
	display: flex;
	column-gap: 2rem;
	overflow: auto;
	scroll-snap-type: x mandatory;
	scrollbar-width: none;
	padding: var(--section-padding);
}

section.referenzen article {
	--padding-horizontal: 1.5rem;

    scroll-snap-align: center;
	flex: 0 0 min(30rem, calc(100% - 5rem));
	display: flex;
	flex-direction: column;
	background-color: var(--background-color-emphasized);
	box-shadow: var(--box-shadow-cards);
	padding: var(--padding-horizontal) var(--padding-horizontal);
	overflow: hidden;
	border-radius: var(--border-radius);
}

section.referenzen ul:first-of-type {
	flex: 1 0 auto;
}


@media (prefers-color-scheme: dark) {
	section.referenzen article {
		background-color: var(--background-color-emphasized);
	}
}

section.referenzen h3 {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

section.referenzen img {
	margin: 0 calc(var(--padding-horizontal) * -1);
	background-color: var(--background-color-emphasized);
	width: calc(100% + var(--padding-horizontal) * 2);
	height: 25vh;
	object-fit: cover;
}

/**********************************************************************************/
/* About                                                                          */
/**********************************************************************************/

section.about {
	max-width: var(--max-width-container);
	margin: auto;
}

section.about figure {
	margin: 0;
}

section.about img {
	border-radius: 50%;
	width: 15rem;
	height: 15rem;
	object-fit: cover;
	object-position: top;
	margin: auto;
	margin-bottom: 2rem;
}

@media (min-width: 800px) {
	section.about {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	section.about h2 {
		flex: 1 0 100%;
	}

	section.about figure {
		margin-right: 2rem;
	}

	section.about img {
		margin-bottom: 0;
	}

	section.about blockquote {
		flex: 1 1 0;
	}
}

/**********************************************************************************/
/* Footer                                                                         */
/**********************************************************************************/

footer p,
footer address,
footer dl {
	text-align: center;
	color: #999;
}

footer h2 {
	font-size: medium;
	margin-top: 7rem;
	margin-bottom: 0;
}

footer h2 + p {
	margin-top: 0;
	margin-bottom: 2rem;
}

footer dl {
	margin-bottom: 5rem;
}

footer dd {
	margin-top: 1rem;
	margin-bottom: 3rem;
}

footer dd a {
	border: 1px solid var(--border-color);
	padding: .75rem 2rem;
	color: var(--color-selection);
	background-color: var(--background-color-selection);
	border-radius: var(--border-radius);
}

footer dd a:hover {
	text-decoration: none;
}

footer code {
	display: inline-block;
	background: var(--background-color-emphasized);
	padding: .5rem 1rem;
	box-shadow: var(--box-shadow-cards);
	border-radius: var(--border-radius);
	-webkit-user-select: all;
	user-select: all;
}

footer address {
	margin-bottom: 3rem;
	font-style: normal;
}

@media (min-width: 1024px) {
	footer dl {
		max-width: var(--max-width-container);
		padding: 1rem;
		margin-left: auto;
		margin-right: auto;
		justify-content: space-between;
		align-items: center;
		display: flex;
		gap: 1rem;
	}

	footer dt {
		flex: 0 0 auto;
	}

	footer dd {
		flex: 1 0 auto;
		white-space: nowrap;
		margin: 0;
		display: flex;
	}

	footer dd::after {
		content: "";
		display: block;
	}

	footer dt:nth-of-type(2) {
		order: 1;
	}

	footer dd:nth-of-type(2) {
		flex: 0 0 auto;
		order: 2;
	}

	footer dd:nth-of-type(2)::after {
		display: none;
	}
}